import hashlib
import os
import random
from typing import List, Dict
import io
import streamlit as st
import google.generativeai as genai
from unstructured.partition.auto import partition
import markdown
import pyperclip

import streamlit as st
import trafilatura
from trafilatura.spider import focused_crawler
import google.generativeai as genai
from typing import List, Dict
import os
import hashlib
import random
import time
import requests
from bs4 import BeautifulSoup
from concurrent.futures import ThreadPoolExecutor, as_completed
import json
